@model IEnumerable<CamposDealer.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create">Cadastrar Venda</a>
</p>

<form asp-controller="Vendas" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-3">
                <label class="control-label" for="idCliente">Cliente</label>
                <select class="form-control bg-dark text-light" name="idCliente" asp-items="ViewBag.IdCliente">
                    <option value="0">Todos</option>
                </select>
            </div>

            <div class="form-group col-3">
                <label class="control-label" for="idProduto">Produto</label>
                <select class="form-control bg-dark text-light" name="idProduto" asp-items="ViewBag.IdProduto">
                    <option value="0">Todos</option>
                </select>
            </div>

            <div class="form-group col-3">
                <label class="control-label" for="qtdVenda">Quantidade do produto</label>
                <input class="form-control bg-dark text-light" type="number" name="qtdVenda" />
            </div>

            <div class="form-group col-3">
                <label class="control-label" for="vlrUnitarioVenda">Valor Unitário</label>
                <input class="form-control bg-dark text-light" type="number" name="vlrUnitarioVenda" />
            </div>

            <div class="form-group col-3">
                <label class="control-label" for="vlrTotalVenda">Valor da Venda</label>
                <input class="form-control bg-dark text-light" type="number" name="vlrTotalVenda" />
            </div>

            <div class="form-group col-3">
                <label class="control-label" for="dthVenda">Data da Venda</label>
                <input type="date" name="dthVenda" class="form-control bg-dark text-light" />
            </div>

        </div>

        <div class="row mt-4 mb-4">

            <div class="col-2">
                <input class="btn btn-primary w-100" type="submit" value="Pesquisar" />
            </div>

        </div>
    </div>
</form>


<table class="table text-light">
    <thead>
        <tr>
            <th class="col text-center">
                @Html.DisplayNameFor(model => model.Cliente)
            </th>

            <th class="col text-center">
                @Html.DisplayNameFor(model => model.Produto)
            </th>

            <th class="col text-center">
                @Html.DisplayNameFor(model => model.QtdVenda)
            </th>

            <th class="col text-center">
                @Html.DisplayNameFor(model => model.VlrUnitarioVenda)
            </th>

            <th class="col text-center">
                @Html.DisplayNameFor(model => model.VlrTotalVenda)
            </th>

            <th class="col text-center">
                @Html.DisplayNameFor(model => model.DthVenda)
            </th>

            <th class="col text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.Cliente.NmCliente)
                </td>

                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.Produto.DscProduto)
                </td>

                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.QtdVenda)
                </td>

                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.VlrUnitarioVenda)
                </td>

                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.VlrTotalVenda)
                </td>

                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.DthVenda)
                </td>

                <td class="col text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdVenda">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVenda">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVenda">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
