@model IEnumerable<CamposDealer.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar Cliente</a>
</p>

<form asp-controller="Clientes" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="form-group col-3">
                <label class="control-label" for="nmClient">Cliente</label>
                <input class="form-control bg-dark text-light" type="text" name="nmClient" />
            </div>
            <div class="form-group col-3">
                <label class="control-label" for="cidade">Cidade</label>
                <input class="form-control bg-dark text-light" type="text" name="cidade" />
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-2">
                <input class="btn btn-primary w-100" type="submit" value="Pesquisar" />
            </div>
        </div>
    </div>
</form>

<table class="table text-light">
    <thead>
        <tr>
            <th class="col text-center">
                @Html.DisplayNameFor(model => model.NmCliente)
            </th>
            <th class="col text-center">
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th class="col text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.NmCliente)
                </td>
                <td class="col text-center">
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td class="col text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCliente">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCliente">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
